@import "footer.css";
@import "variables";

body {
  height: 100%;
  background: #ffbeb1 !important;
  .bg-home {
    .content_feed_2 {
      @include background("../imgs/header_2.png");
      width: 100%;
      img {
        &.remove_icon {
          padding: 23px;
          margin-top: 16px;
        }
      }
      h1 {
        font-family: MontserratsemiBold, serif;
        color: #02145a;
        font-size: 13px;
        margin-top: 40px;
      }
      .newfeed_2_bn {
        height: 120px;
        text-align: center;
        padding-top: 35px;
      }
      .newfeed_2_top {
        height: 120px;
        text-align: center;
        position: relative;
        z-index: 99999;
        p {
          font-family: MontserratLight, serif;
          color: #02145a;
          font-size: 21px;
          padding: 20px 15px;
        }
      }
      .btn_touch {
        text-align: center;
        .header_choose {
          margin-top: 0 !important;
        }
      }
    }
    .content_link {
      text-align: center;
      @include background("../imgs/bg_index_2.png");
      padding-top: 50px;
      margin-top: -25px;
      .btn_link {
        margin: 6px 15px;
        border: 1px solid #222222;
        border-radius: 40px;
        color: #222222;
        font-size: 11px;
        font-family: MontserratRegular, serif;
        a {
          color: #02145a;
          font-size: 11px;
          font-family: MontserratRegular, serif;
        }
      }
      .btn-active {
        background: rgba(2, 20, 90, 0.43);
        border: 1px solid #02145a;
      }
      .btn_none {
        background: #fff;
        border: 1px solid #fff;
      }
    }
    .newfeed_starten {
      background: url(../imgs/bg_newfeed2_conbutton.png);
      background-repeat: no-repeat;
      height: 60px;
      position: fixed;
      bottom: 100px;
      width: 100%;
      border-top: 2px solid #fff3f6;
      text-align: center;
      h1 {
        color: #fff;
        font-family: MontserratsemiBold, serif;
        font-size: 13px;
        line-height: 5px;
        padding: 5px;
      }
    }
  }
  @media only screen and (min-device-width: 768px) {
    img {
      &.remove_icon {
        padding: 50px;
        margin-top: 0px;
      }
    }
  }
}


