@import "footer.css";
@import "variables";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  .bg-home {
    @include background("../imgs/background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    .content_1 {
      h1 {
        @include header_title_h1;
      }
    }

    p {
      font-size: 24px;
      font-family: MontserratLight, serif;
    }
    .config_1 {
      margin-right: 0;
      margin-left: 0;
    }
    .config_plus {
      background: url(../imgs/plus.png);
      text-align: center;
      z-index: 999;
      background-repeat: no-repeat;
      position: absolute;
      margin: 10px;
      width: 40px;
      height: 40px;
      background-size: cover;
    }
    .config_2 {
      padding-bottom: 230px;
      h1{
        &.config_h1 {
          text-align: center;
          font-size: 24px!important;
          font-family: MontserratLight, serif;
          color: #02145A;
        }
      }

    }
    .content_1 {
      img {
        vertical-align: middle;
        width: 35%;
        margin-top: 50px;
        margin-bottom: 100px;
        h1 {
          color: #02145a;
          font-weight: bold;
        }
      }
    }
    .img_cf {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .config_p {
      font-size: 15px;
      text-align: center;
      padding: 20px 15px;
      font-family: MontserratLight, serif;
      color: #02145A;
    }

    .coaching {
      padding-left: 15px;
    }

    .btn_config {
      padding-top: 110px;
      top: 50%;
      left: 50%;
      .btn_config_top {
      margin-top: -230px;
      }
    }

    .btn_config .btn_small {
      width: 60px;
      height: 60px;
      background: #fb5b62;
      border-radius: 30px;
      z-index: 1;
      margin: auto;
      margin-top: -85px;
    }

    .btn_config .btn_small:hover {
      background: rgba(251, 91, 98, 0.63);
    }
    .btn_config .btn_lag {
      width: 110px;
      height: 110px;
      background: rgba(254, 245, 238, 0.37);
      border-radius: 55px;
      z-index: 0;
      margin: auto;
      margin-top: 85px;
    }
  }
}