@import "variables";
body {
  background: #fff6f2;
  width: 100%;
  padding: 0;
  margin: 0;
  .bg-home {
    @include background("../imgs/bg_header_5.png");
    @include header_title_page;
    .cat {
      .cat1 {
        h1 {
          font-size: 30px;
          font-family: MontserratRegular, serif;
          color: #fff;
        }
      }
      .cat2 {
        h1 {
          font-size: 30px;
          font-family: MontserratRegular, serif;
          color: #fff;
          opacity: 0.65;
          padding-bottom: 50px;
        }
      }
    }
    .swiper {
      padding: 10px 0;
    }
  }
  .three-cirle {
    img {
      width: 20%;
      margin-top: -50px;
    }
  }
  .content_pro {
    padding: 20px 0;
  }
  .btn_config img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin: 10px 8px;
  }
  @include caption_text;
  .caption {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
  }
  .thumbnail {
    border-radius: 5px;
    padding: 0 !important;
    a {
      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }
    }
    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    .caption{
      padding: 10px 15px;
    }
  }

  .statistical {
    display: flex;
    p {
      &.number {
        padding-left: 5px;
        font-size: 14px;
        font-family: MontserratLight, serif;
        color: #A2A6C6;
      }
    }
    img {
      width: 17px;
      height: 20px;
    }
  }
}




