@import url(footer.css);
@import url(footer.css);
@font-face {
  font-family: MontserratsemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf); }
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf); }
/*Color from left filed*/
/*Color from right filed*/
/*Color text*/
/*color $color_content_12*/
/*color bg 2*/
/*color opacity*/
/*colorfooter*/
/*color of 12*/
/*bg 4*/
/*size of p content*/
/*size p small*/
/*size h1 */
/*height of input and content form*/
/*size back*/
body, header, content, footer, .container {
  font-family: MontserratLight, serif;
  width: 100%;
  height: auto; }

header {
  padding-top: 20px; }
  header h1 {
    letter-spacing: 2px; }

.header-fixed {
  padding-top: 185px; }

/*button header */
.header_choose {
  margin-top: 20px; }
  .header_choose p {
    font-family: MontserratRegular, serif;
    font-size: 11px;
    padding: 8px 0; }
    .header_choose p.left {
      border: 1px solid #000;
      border-right: 1px solid #000;
      border-radius: 70px 0 0 70px; }
    .header_choose p.right {
      border: 1px solid #000;
      border-radius: 0 70px 70px 0; }

/*button back*/
.back {
  font-size: 40px; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body .bg-home {
    background: url("../imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute; }
    body .bg-home .content_1 h1 {
      font-size: 13px;
      font-family: MontserratLight, serif;
      color: #02145a;
      text-align: center; }
    body .bg-home p {
      font-size: 24px;
      font-family: MontserratLight, serif; }
    body .bg-home .config_1 {
      margin-right: 0;
      margin-left: 0; }
    body .bg-home .config_plus {
      background: url(../imgs/plus.png);
      text-align: center;
      z-index: 999;
      background-repeat: no-repeat;
      position: absolute;
      margin: 10px;
      width: 40px;
      height: 40px;
      background-size: cover; }
    body .bg-home .config_2 {
      padding-bottom: 230px; }
      body .bg-home .config_2 h1.config_h1 {
        text-align: center;
        font-size: 24px !important;
        font-family: MontserratLight, serif;
        color: #02145A; }
    body .bg-home .content_1 img {
      vertical-align: middle;
      width: 35%;
      margin-top: 50px;
      margin-bottom: 100px; }
      body .bg-home .content_1 img h1 {
        color: #02145a;
        font-weight: bold; }
    body .bg-home .img_cf {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    body .bg-home .config_p {
      font-size: 15px;
      text-align: center;
      padding: 20px 15px;
      font-family: MontserratLight, serif;
      color: #02145A; }
    body .bg-home .coaching {
      padding-left: 15px; }
    body .bg-home .btn_config {
      padding-top: 110px;
      top: 50%;
      left: 50%; }
      body .bg-home .btn_config .btn_config_top {
        margin-top: -230px; }
    body .bg-home .btn_config .btn_small {
      width: 60px;
      height: 60px;
      background: #fb5b62;
      border-radius: 30px;
      z-index: 1;
      margin: auto;
      margin-top: -85px; }
    body .bg-home .btn_config .btn_small:hover {
      background: rgba(251, 91, 98, 0.63); }
    body .bg-home .btn_config .btn_lag {
      width: 110px;
      height: 110px;
      background: rgba(254, 245, 238, 0.37);
      border-radius: 55px;
      z-index: 0;
      margin: auto;
      margin-top: 85px; }

/*# sourceMappingURL=index_1.css.map */
